<div class="top-bar">
  <div class="top-bar-left">
    <li>
        <ul class="menu vertical">
            
            
    <% if user_signed_in? %>
            
            <li class="menu-text"><strong> logged in as 
                <%= current_user.email %> </strong>  </li>
                
            <li href="#">
            <%= link_to ' Edit profile ', edit_user_registration_path, :class => 'top-bar-left' %></li>
            
       <li href="#"><%= link_to " logout ", destroy_user_session_path, method: :delete, :class => 'top-bar-left' %></li>      
               
           
            <% end %>
            
            
    <% if !user_signed_in? && admin_signed_in? %>
            
            <li class="menu-text"><strong> logged in as 
               <%= current_admin.email %> </strong>
                </li>                   
   

        <li href="#">
            <%= link_to ' Edit profile ', edit_admin_registration_path, :class => 'top-bar-left' %></li>
            
            <li href="#"><%= link_to " logout ", destroy_admin_session_path, method: :delete, :class => 'top-bar-left' %></li> 
            
             <% end %>
   
            
            
            
            
            
<% if !user_signed_in? && !admin_signed_in? %>
            
            
        <li href="#">
            <%= link_to " Sign up as User or Admin",  new_user_registration_path && new_admin_registration_path , :class => 'top-bar-left' %> </li>
            
        <li href="#">
            <%= link_to " Login as User or Admin",  new_user_session_path && new_admin_session_path, :class => 'top-bar-left' %></li>
         
            
        
    
        <% end %>  
            
            
    
    </ul>
      
      </li>
      
      
          
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Bienvenido"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>

   

